<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-" />
    <title>HTTP Status 500 – Internal Server Error</title>
    <link rel="stylesheet" href="header.css" />
    
    <!--<style type="text/css">
    body {
        font-family: Tahoma, Arial, sans-serif;
    }
    box{
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
        );
        margin: 20px;
        border-radius: 15px;
        box-shadow: 0px 8px 24pxx 0 rgba(0, 0, 0, 0.3);
        max-width: 75%;
        padding: 36px 24px;
        text-align: center;
        position: relative;
    }
    </style> -->
</head>
<body>
    <header>
        <div id="brand" class="companyName"><a href="home">DESIGNMATCH</a></div>
        <nav>
            <ul>
                <li><a href="home.html"> Home</a></li>
                <li><a href="error.html">Error</a></li>
                <li><a href="login.html">Sing In</a></li>
                <li id="signUp"><a href="login.html">Sign Up</a></li>
            </ul>
        </nav>
    </header>
            <div class="text">Ups... coś nie działa   <br>    
             HTTP Status 500 – Internal Server Error </div>
</body>
</html>