<!doctype html>
<html lang="en">
<head>
    <metacharset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Design Match - logowanie</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="css/index.css" />

</head>
<body>
    <header>
        <div id="brand" class="companyName"><a href="index.html">DESIGNMATCH</a>
<!--        <div class="searchBar">
                <input  type="text" placeholder="Search..."></input>
                <button type="button"><i class="searchBarButton"></i></button>
            </div>
-->
        </div>
        <nav>
            <ul>
                <li><a href="index.html"> Home</a></li>
                <li><a href="error.html">Error</a></li>
                <li><a href="login.html">Sing In</a></li>
                <li id="signUp"><a href="signUp.html">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    
</body>
</html>
