<!doctype html>
<html lang="en">
<head>
    <metacharset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Design Match - logowanie</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="css/styles.css" />

</head>
<body>
    <header>
        <div id="brand" class="companyName"><a href="index.html">DESIGNMATCH</a></div>
        <nav>
            <ul>
                <li><a href="index.html"> Home</a></li>
                <li><a href="error.html">Error</a></li>
                <li><a href="login.html">Sing In</a></li>
                <li id="signUp"><a href="signUp.html">Sign Up</a></li>
            </ul>
        </nav>
    </header>
    <div class="formCenter">

        <labelName class="companyName">DESIGNMATCH</labelName>
        <form autocorrect="off">
            <div class="iconCircleForm">
                <img src="..\images\logoKula.jpg" alt="Avatar" style="width:85px; margin-top: 8%">
            </div>
            <div class="loginForm">
                <input id="user" type="text" placeholder=" ">
                <label for="user">User</label>
            </div>
            <div class="loginForm">
                <input id="password" type="password" placeholder=" ">
                <label for="password">Password</label>
            </div>
            <div class="lineForm"></div>
                <button id="b" class="registerButtonForm" type="button">Sign up</button>
                <button id="b" class="loginButtonForm" type="button">Sign in</button>
                <button id="b" class="continueButtonForm" type="button">Continue with Google</button>
        </form>
    </div>
</body>
</html>