@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@font-face {
    font-family: 'Norwesterregular';
    src: url(../fonts/norwester-webfont.woff2) format('woff2'),
         url(../fonts/norwester-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --color-light: #F0EDEB; /* #4a4e69; */
    --color-dark: #4A4E69; /*#e4d4ca; */
    --color-3: #BEB5BC;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}

body{
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        to top right,
        var(--color-light),
        var(--color-dark)
        );
    font-size: 24px;
    min-width: 100%;
    color: white;
    font-family: "Poppins", sans-serif;
}
.companyName{
  color: rgba(255,255,255, 0.75);
    font-family: "Norwesterregular", serif ;
}

.text{
    margin-top: 15%;
    justify-content: center;
    text-align: center;

    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
        );
        border-radius: 15px;
        box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
        position: relative;
        padding: 36px 24px;
}

header a {
  text-decoration: none;
  color:rgba(255,255,255, 0.75);
}

header {
  padding: 0 20px;
  background-color: color(var(--color-3));
  /*background-color: --color-3;*/
  height: 50px;
  min-width: 565px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.3);
}

#brand {
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
  color:rgba(255,255,255, 0.75);
}


ul {
  list-style: none;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#singnIn,
#signUp {
  border-radius: 5px;
  padding: 1px 6px;
}


#signUp {
  border: 2px solid rgba(255, 255, 255, 0.75);
}

#signUp:hover{
  border: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}