@import "header.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loginForm{
    margin-bottom: 32px;
    position: relative;
}

.formCenter{
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    width: 100%;
}
.companyName{
    font-size: 2em;
}

form{
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.35)
        );
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.3);
    min-width: 200px;
    max-width: 300px;
    padding: 36px 24px;
    text-align: center;
    position: relative;
}

input,
button{
    background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.25)
    );
    border: none;
    border-radius: 18px;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.35);
    color: rgb(255, 255, 255);
    padding: 12px 24px;
}

.registerButtonForm{
    background: transparent;
    box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.15);
}

.continueButtonForm{
    background: transparent;
    margin-top: 20px;
}

input{
    width: 100%;
}


label{
    color: rgb(255, 255, 255);
    opacity: 1;
    left: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: left 0.3s, opacity 0.3s;
}

input:focus + label,
input:not(:placeholder-shown) + label{
    left: 200px;
    opacity: 0;
 }
 .lineForm{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    height: 2px;
    margin: 20px auto 20px;
 }
 .iconCircleForm{
    border: solid 1px rgba(255, 255, 2555, 1);
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px auto 25px;
 }

 #b:hover{
   transform: scale(1.05);
   transition: 0.3s;
   border: 1px solid rgba(0, 0, 0, 0.5);
   box-shadow: 0px 8px 24px 0 rgba(0, 0, 0, 0.4);
 }