<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-"/>
    <title>HTTP Status 500 – Internal Server Error</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="css/header.css" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="companyName" id="brand"><a href="index.html">DESIGNMATCH</a></div>
    <nav>
        <ul>
            <li><a href="index.html"> Home</a></li>
            <li><a href="error.html">Error</a></li>
            <li><a href="login.html">Sing In</a></li>
            <li id="signUp"><a href="login.html">Sign Up</a></li>
        </ul>
    </nav>
</header>
<div class="text">Ups... coś nie działa <br>
    HTTP Status 500 – Internal Server Error
</div>
</body>
</html>