<!doctype html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-"/>
    <title>HTTP Status 500 – Internal Server Error</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>
</head>
<body>
<header>
    <div class="companyName" id="brand"><a href="/">DESIGNMATCH</a></div>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/error">Error</a></li>
            <li><a href="/login">Sing In</a></li>
            <li id="signUp"><a href="/login">Sign Up</a></li>
        </ul>
    </nav>
</header>
<div class="text">Ups... coś nie działa <br>
    HTTP Status 500 – Internal Server Error
</div>
</body>
</html>