<!doctype html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Design Match - logowanie</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>

</head>
<body>
<header>
    <div class="companyName" id="brand"><a href="/">DESIGNMATCH</a>
        <div class="searchBar">
            <label>
                <input placeholder="Search..." type="text">
            </label>
            <button type="button"><i class="searchBarButton"></i></button>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/error">Error</a></li>
            <li><a href="/login">Sing In</a></li>
            <li id="signUp"><a href="/register">Sign Up</a></li>
        </ul>
    </nav>
</header>

</body>
</html>