<!doctype html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Design Match - logowanie</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css"/>

</head>
<body>
<header>
    <div class="companyName" id="brand"><a href="/">DESIGNMATCH</a></div>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/error">Error</a></li>
            <li><a href="/login">Sing In</a></li>
            <li id="signUp"><a href="/register">Sign Up</a></li>
        </ul>
    </nav>
</header>
<div class="formCenter">

    <labelName class="companyName">DESIGNMATCH</labelName>
    <form autocorrect="off">
        <div class="iconCircleForm">
            <img alt="Avatar" style="width:85px; margin-top: 8%" th:src="@{/images/logoKula.jpg}" src="../static/images/logoKula.jpg">
        </div>
        <div class="loginForm">
            <input id="Name" placeholder=" " type="text">
            <label for="Name">Name</label>
        </div>
        <div class="loginForm">
            <input id="Email" placeholder=" " type="text">
            <label for="Email">Email</label>
        </div>
        <div class="loginForm">
            <input id="Date" placeholder=" " type="text">
            <label for="Date">Date</label>
        </div>
        <div class="loginForm">
            <input id="password" placeholder=" " type="password">
            <label for="password">Password</label>
        </div>
        <div class="loginForm">
            <input id="repeadPassword" placeholder=" " type="password">
            <label for="repeadPassword">Password</label>
        </div>
        <div class="lineForm"></div>
        <button class="registerButtonForm" id="b1" type="button">Sign up</button>
        <button class="loginButtonForm" id="b2" type="button">Sign in</button>
        <li><a href="/login" id="logInDown">Do u have account? Log in!</a></li>
    </form>
</div>
</body>
</html>