<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Design Match - logowanie</title>
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="css/styles.css" rel="stylesheet"/>

</head>
<body>
<header>
    <div class="companyName" id="brand"><a href="index.html">DESIGNMATCH</a></div>
    <nav>
        <ul>
            <li><a href="index.html"> Home</a></li>
            <li><a href="error.html">Error</a></li>
            <li><a href="login.html">Sing In</a></li>
            <li id="signUp"><a href="signUp.html">Sign Up</a></li>
        </ul>
    </nav>
</header>
<div class="formCenter">

    <labelName class="companyName">DESIGNMATCH</labelName>
    <form autocorrect="off">
        <div class="iconCircleForm">
            <img alt="Avatar" src="..\images\logoKula.jpg" style="width:85px; margin-top: 8%">
        </div>
        <div class="loginForm">
            <input id="Name" placeholder=" " type="text">
            <label for="Name">Name</label>
        </div>
        <div class="loginForm">
            <input id="Email" placeholder=" " type="text">
            <label for="Email">Email</label>
        </div>
        <div class="loginForm">
            <input id="Date" placeholder=" " type="text">
            <label for="Date">Date</label>
        </div>
        <div class="loginForm">
            <input id="password" placeholder=" " type="password">
            <label for="password">Password</label>
        </div>
        <div class="loginForm">
            <input id="repeadPassword" placeholder=" " type="password">
            <label for="repeadPassword">Password</label>
        </div>
        <div class="lineForm"></div>
        <button class="registerButtonForm" id="b1" type="button">Sign up</button>
        <button class="loginButtonForm" id="b2" type="button">Sign in</button>
        <li><a href="login.html" id="logInDown">Do u have account? Log in!</a></li>
    </form>
</div>
</body>
</html>